{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field %}
{% block content %}

<div class="d-flex align-items-center justify-content-center py-5">
    <div class="card shadow-lg border-0 rounded-4" style="max-width:420px; width:100%;">
        <div class="card-body p-4 text-center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="text-center mb-3">
                    <h1 class="h4 fw-semibold">Log In</h1>
                </div>
                <div class="form-floating mb-3">
                    {{ form.username(class="form-control", id="floatingInput", placeholder="email") }}
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.password(class="form-control", id="floatingInput", placeholder="password") }}
                    <label for="floatingInput">Password</label>
                </div>
                {{ render_field(form.submit, class_="btn btn-success w-100") }}
            </form>
        </div>
    </div>
</div>

{% endblock %}